@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --primary: 242 73% 49%;
  --secondary: 27 100% 65%;
}

body {
  @apply bg-background text-foreground;
}
